extends ../layout

mixin devicesSelect
    select.devices
        each device in devices
            option(value= `${device.used_pins.pin_name}@${device._controllerID._id}`)= `${device.used_pins.pin_name} (${device._controllerID.name})`

mixin conditionSelect
    select.conditions condition
        option(value="equals") Equals
        option(value="lt") Less than
        option(value="gt") Greater than
        option(value="between") Between

mixin subjectSelect
    select.subjects subject
        each controller in controllers
            option(value= controller._id)= `${controller.name} (${controller.machine_name})`

mixin newPanel
    .panel.panel-default
        .panel-heading
            a(href="#collapseNew" data-toggle="collapse")
                i.fa.fa-plus
                | New Conditional
        #collapseNew.panel-collapse.collapse
            .panel-body.condition
                .validation.alert.alert-danger.fade.in
                    button.close(type='button', data-dismiss='alert')
                        i.fa.fa-times-circle-o
                    .msg
                form(method="POST")
                    .conditions
                        .form-group
                            .row
                                .col-sm-3.control-label
                                    label(for="conditional-name") Name
                                .col-sm-9
                                    input.conditional-name.form-control(type="text" placeholder="Give this conditional a name...")
                        .form-group
                            .row
                                .col-sm-3.control-label
                                    label(for="if-device") IF
                                .col-sm-9
                                    +devicesSelect
                        .form-group
                            .row
                                .col-sm-3.control-label
                                    label(for="if-device") IS
                                .col-sm-9
                                    +conditionSelect
                        .form-group
                            .row
                                .col-sm-3.control-label
                                    label(for="is-device") Value
                                .col-sm-9
                                    input.is-device.form-control(type="text", placeholder="ex. 40")
                        .form-group.and-group
                            .row
                                .col-sm-3.control-label
                                    label(for="and-condition") AND
                                .col-sm-9
                                    input.and-condition.form-control(type="text", placeholder="ex. 40")
                        .form-group
                            .row
                                .col-sm-3.control-label
                                    label Apply pin specific calculation to value?
                                .col-sm-9.text-left.slide-toggle
                                    input#apply-calc.apply-calc.form-control(type="checkbox")
                                    label(for="apply-calc")
                    .actions.row
                        .condition-action.col-md-6
                            .form-group
                                label(for="action-select") Action
                                select.action-select
                                    option(value="email") Email
                                    option(value="textMessage") Send text message
                                    option(value="write") Write to pin
                            .action-fields
                                .wrapper
                                    .form-group.write-group
                                        .form-group
                                            label(for="device-select") Device
                                            +devicesSelect.write-devices
                                        .form-group
                                            label(for="write-value") Write value
                                            input.write-value.form-control(type="text", placeholder="ex. 40 or HIGH")
                                    .form-group.email-group
                                        label(for="email-field") Email
                                        input.email.form-control(type="email", placeholder="Enter an email address")
                                    .form-group.phone-group
                                        label(for="phone-field") Phone number
                                        input.phone.form-control(type="tel", placeholder="Enter a phone number to send text to")
                            .form-group
                                button.add-another-field.btn.btn-default.btn-block
                                    i.fa.fa-plus
                                    | Add another field
                    .condition-action
                        button.btn.add-another-action.btn-primary.btn-block
                            i.fa.fa-plus
                            | Add another action
            .panel-footer
                button.add-new-conditional.btn.btn-primary Add

block content
    #conditionals-page
        input(type="hidden", name="apiToken" id="apiToken" value=user.apiKey)
        .container-fluid
            .conditions-wrapper
                .heading
                h1 Conditionals
                .panel-group
                    +newPanel
                each conditional in conditionals
                    .panel-group
                        .panel.panel-default
                            .panel-heading
                                a(href=`#${conditional._id}` data-toggle="collapse")
                                    i.fa.fa-plus
                                    span.conditional-name= conditional.name
                            .panel-collapse.collapse(id= conditional._id)
                                .panel-body.condition
                                    span if
                                    b.controller-id.hidden= conditional.listenSubject.subjectControllerID
                                    b.device-name= conditional.listenSubject.pin_name
                                    span is
                                    b.trigger-condition= conditional.triggerOn.condition
                                    b.trigger-value= conditional.triggerOn.value
                                    .container.actions
                                        each item in conditional.run
                                            .condition-action
                                                b.action-name= item.action
                                                b.action-value= item.value
                                                span to
                                                each subject in item.subjects
                                                    b.action-subject= subject
                                .panel-footer
                                    button.hidden.save-conditional.btn.btn-primary Save
                                    button.edit-conditional.btn.btn-default Edit

    script(src="./js/conditionals/conditionals.js")