extends ../layout

block content
  .page-header
    h3 Dashboard
  .page-body
    input(type="hidden", name="apiToken" id="apiToken" value=user.apiKey)
    .row
      .device-overview.col-lg-12
        .buttons
          button.btn.btn-default.graph-button Graph view
          button.btn.btn-default.device-edit Properties
        #sensor-graph
          .overlay
            .loading-bar
            span Loading...
  .page-header
    h3 Controllers
  .row
    .controller-page.col-lg-12
      each controller in controllers
        .controller(id= controller.machine_name)
          .info
            .status.disconnected
            .controller-name= controller.name
            .edit-controller
              i.fa.fa-pencil
            button.hidden.btn.btn-primary.save-controller Save
            .delete-controller
              i.fa.fa-trash
          .wrapper
            .controller-machine-name= controller.machine_name
            .controller-devices.row
              button.btn.btn-block.btn-primary.device-new
                i.fa.fa-plus
                | Add device
              each device in controller.devices
                .device.col-lg-2.col-md-3.col-sm-6
                  .device-id.hidden= device._id._id
                  .delete-device
                    i.fa.fa-trash
                  .device-name= `${device.name} (${device._id.used_pins.pin_name})`
                  if (device._id.used_pins && device._id.used_pins.pin_mode.toLowerCase() === "output" && device._id.used_pins.information_type.toLowerCase() === "digital")
                    .device-toggle-wrapper
                      if (device._id.used_pins.lastWrite && device._id.used_pins.lastWrite.toLowerCase() === "high")
                        input.device-toggle(type="checkbox" autocomplete="off" id= device._id.used_pins.pin_name checked="")
                      else
                        input.device-toggle(type="checkbox" autocomplete="off" id= device._id.used_pins.pin_name)
                      label(for= device._id.used_pins.pin_name)

  include ../partials/modals/device/new
  include ../partials/modals/device/edit

  script(src="https://code.highcharts.com/stock/highstock.js")
  script(src="https://code.highcharts.com/stock/modules/exporting.js")
  script(src="./js/dashboard/dashboard.js")
  script(src="./js/dashboard/charts.js")


  